* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.carousel {
    margin-top: 50px;
}
#card {
	margin-top: 15px;
}

footer{
	background-color: #000;
	color: #fff;
	text-align: center;
}
.card-katalog {
    border-radius: 20px;
	border: 3px solid pink;
	margin-top: 15px;
}
.card-spesial {
    border-radius: 20px;
    border: 3px solid pink;
}
.spesial > h1 {
    margin-top: 50px;
    text-align: center;
}
.card-combo {
    border-radius: 20px;
	border: 3px solid pink;
}
.combo > h1 {
    margin-top: 50px;
    text-align: center;
}
.card-coffe {
    border-radius: 20px;
	border: 3px solid pink;
}
.coffe > h1 {
    margin-top: 50px;
    text-align: center;
}